* {
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
  /* font-family: 'Cinzel', serif; */
}

body {
  margin: 0;
  background: #0a0a10;
  color: #fff;
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  background: rgba(10,10,16,0.9);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 36px;
} 

@media (min-width: 1024px) {
  .logo img {
    height: 60px;
  }
}

.logo span {
  font-weight: bold;
  font-size: 40px;
}

@media (min-width: 1024px) {
  .logo-text {
    font-size: 38px;
  }
}

.btn-outline {
  border: 1px solid #9b6cff;
  padding: 8px 14px;
  border-radius: 6px;
  color: #9b6cff;
  text-decoration: none;
}

/* HERO */
.hero {
  padding: 80px 20px;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 50px;
}

.hero h1 span {
  color: #9b6cff;
}

.hero-form form {
  background: #b889e5;
  padding: 30px;
  border-radius: 20px;
  color: #111;
}

.hero-form input {
  width: 100%;
  margin-top: 12px;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

.hero-form button {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
}

.section.dark {
  background: #111;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: #1a1a22;
  padding: 25px;
  border-radius: 16px;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.step {
  background: linear-gradient(135deg, #2a1663, #7b3fe4);
  padding: 14px 22px;
  border-radius: 999px;
}

.faq-btn {
  width: 100%;
  background: #1a1a22;
  color: #fff;
  padding: 15px;
  border: none;
  margin-top: 10px;
  text-align: left;
  cursor: pointer;
}

.faq-content {
  display: none;
  padding: 15px;
  background: #000;
}

/* ANIMAÇÃO */
.animate {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.7s ease;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .hero-grid, .grid {
    grid-template-columns: 1fr;
  }
}






